@media screen and (max-width: 1100px) {
  .hover-cart-btn-container .cart-btn {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 1000px) {
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}

@media only screen and (max-width: 800px) {
  .wishlist-badge .icon {
    height: 2.25em;
    right: 2em;
    top: 2em;
  }
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-auto-flow: row;
    justify-items: center;
    padding: 0;
    margin-top: 0;
    width: 100%;
    max-width: 100%;
  }

  .product-card-container,
  .product-card-container .product-card {
    width: 100%;
  }
  .product-content .product-description {
    font-size: 1.15em;
  }

  .search-container {
    width: 0;
    border: none;
  }
  .search-container:hover {
    width: 100%;
    border: 2px solid var(--clr-black);
  }
  .nav-link-container,
  .side-filter-container {
    display: none;
  }
  .logo-container {
    padding-inline-start: 2em;
  }

  /* */
  .nav-icon-container .icon-container .icon {
    width: 2.25em;
    height: 2.25em;
  }
  .nav-icon-container .icon-container .icon-txt {
    display: none;
  }
  .search-container,
  .search-container .search-btn {
    top: 0.25em;
  }
}

@media only screen and (max-width: 720px) {
  .logo-container .logo,
  .nav-icon-container .profile-box {
    display: none;
  }
  .logo-container {
    justify-content: flex-start;
    padding: 0;
    width: 20em;
  }
  .nav-icon-grp {
    align-items: center;
    display: flex;
    gap: 5px;
  }
  .nav-icon-grp .nav-txt {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 640px) {
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
  .hover-cart-btn-container .cart-btn {
    font-size: 1.75em;
    height: 1.75em;
  }
  .product-card .mobile-cart-btn-container {
    padding-inline: 1em;
    font-size: 1.25em;
  }
  .product-card .mobile-cart-btn-container {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 505px) {
  .heading-container .heading {
    font-size: 1.35em;
  }
  .wishlist-badge .icon {
    height: 2em;
  }
}

@media screen and (max-width: 460px) {
  .cart-btn {
    height: 2.75rem;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 420px) {
  .hover-cart-btn-container .cart-btn {
    font-size: 1.5em;
    height: 1.75em;
  }
}

@media only screen and (max-width: 405px) {
  .wishlist-badge .icon {
    height: 1.75rem;
  }
  .wishlist-badge {
    top: 5px;
    padding: 3px;
  }

  .heading-container {
    display: none;
  }
  .product-container {
    margin-top: 9rem;
  }
  .product-card .product-content .product-title,
  .product-content .product-description {
    font-size: 1rem;
  }
  .product-price-details .product-price {
    font-size: 1.5rem;
  }
  .product-price-details .og-price {
    font-size: 1.5rem;
  }

  .hover-cart-btn-container .cart-btn {
    font-size: 1.25em;
    height: 1.65em;
  }
}

@media only screen and (max-width: 370px) {
  .product-card .mobile-cart-btn-container .cart-btn {
    font-size: 1em;
  }
  .product-card .mobile-cart-btn-container {
    padding-inline: 1rem;
    width: 100%;
  }
  .hover-cart-btn-container .cart-btn {
    font-size: 1em;
    height: 1.5em;
  }
  .nav-icon-grp .nav-txt {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 315px) {
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .product-card .product-content .product-price-details > .price {
    font-size: 1.5em;
  }
  .wishlist-badge {
    top: 10px;
    right: 7.5px;
    width: 3em;
    height: 3em;
  }
  .wishlist-badge .icon {
    height: 2em;
    width: 2em;
  }

  .product-card .mobile-cart-btn-container .cart-btn {
    font-size: 1.25em;
    height: 2em;
  }
  .product-card .mobile-cart-btn-container {
    padding-inline: 1em;
    width: 100%;
  }
}

@media (hover: hover) {
  .mobile-cart-btn-container {
    display: none;
  }
  .hover-cart-btn-container {
    display: block;
    right: 0;
    width: 100%;
    bottom: 3rem;
    position: absolute;
    transform: translateY(400%);
    animation-delay: 0ms;
    transition: transform 150ms ease-in-out;
    animation-duration: 10ms;
  }
  .product-card:hover .product-img-container > img {
    filter: brightness(70%);
    background: rgba(0, 0, 0, 0.5);
  }
  .product-card:hover .hover-cart-btn-container {
    transform: translateY(0);
  }
}
